<main>
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <!-- Breadcrumb Start -->
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black dark:text-white">
        Dropdowns
      </h2>

      <nav>
        <ol class="flex items-center gap-2">
          <li>
            <a class="font-medium" href="index.html">Dashboard /</a>
          </li>
          <li class="font-medium text-primary">Dropdowns</li>
        </ol>
      </nav>
    </div>
    <!-- Breadcrumb End -->

    <div class="flex flex-col gap-7.5">
      <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
          <h3 class="font-medium text-black dark:text-white">
            Dropdowns Style 1
          </h3>
        </div>

        <div class="p-4 sm:p-6 xl:p-10">
          <div class="relative mb-50 inline-block">
            <button mat-button class="btn-primary rounded"
              (click)="openDropDown_1 = !openDropDown_1; openDropDown_2 = false; openDropDown_3 = false;">
              Dropdown Button
              <mat-icon class="duration-200 ease-linear"
                [ngClass]="openDropDown_1 ? 'rotate-180' : ''">expand_more</mat-icon>
            </button>
            <div *ngIf="openDropDown_1"
              class="absolute left-0 top-full z-40 w-full mt-2 rounded-md border border-stroke bg-white shadow-card dark:border-strokedark dark:bg-boxdark">
              <ul class="flex flex-col">
                <li><button mat-button class="w-full h-8 rectangle">Dashboard</button></li>
                <li><button mat-button class="w-full h-8 rectangle">Settings</button></li>
                <li><button mat-button class="w-full h-8 rectangle">Earnings</button></li>
                <li><button mat-button class="w-full h-8 rectangle">Logout</button></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
          <h3 class="font-medium text-black dark:text-white">
            Dropdowns Style 2
          </h3>
        </div>

        <div class="p-4 sm:p-6 xl:p-10">
          <div class="relative mb-50 inline-block">
            <button mat-button class="btn-primary rounded"
              (click)="openDropDown_2 = !openDropDown_2; openDropDown_1 = false; openDropDown_3 = false;">
              <mat-icon class="duration-200 ease-linear"
                [ngClass]="openDropDown_2 ? 'rotate-180' : ''">expand_more</mat-icon>
              Dropdown Button
            </button>
            <div *ngIf="openDropDown_2"
              class="absolute left-0 top-full z-40 mt-2 w-full rounded-md bg-primary shadow-card">
              <ul class="flex flex-col">
                <li><button mat-button class="w-full bg-primary text-white h-8 rectangle">Dashboard</button></li>
                <li><button mat-button class="w-full bg-primary text-white h-8 rectangle">Settings</button></li>
                <li><button mat-button class="w-full bg-primary text-white h-8 rectangle">Earnings</button></li>
                <li><button mat-button class="w-full bg-primary text-white h-8 rectangle">Logout</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
          <h3 class="font-medium text-black dark:text-white">
            Dropdowns Style 3
          </h3>
        </div>

        <div class="p-4 sm:p-6 xl:p-10">
          <div class="relative mb-50 inline-block">
            <button mat-button class="btn-tertiary rounded"
              (click)="openDropDown_3 = !openDropDown_3; openDropDown_1 = false; openDropDown_2 = false;">
              <mat-icon class="duration-200 ease-linear"
                [ngClass]="openDropDown_3 ? 'rotate-180' : ''">expand_more</mat-icon>
              Dropdown Button
            </button>
            <div *ngIf="openDropDown_3"
              class="absolute left-0 top-full z-40 mt-2 w-full rounded-md bg-black shadow-card">
              <ul class="flex flex-col">
                <li><button mat-button class="w-full text-white h-8 rectangle">Dashboard</button></li>
                <li><button mat-button class="w-full text-white h-8 rectangle">Settings</button></li>
                <li><button mat-button class="w-full text-white h-8 rectangle">Earnings</button></li>
                <li><button mat-button class="w-full text-white h-8 rectangle">Logout</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>