<mat-toolbar class="flex justify-between items-center app-header">
    <button mat-icon-button *ngIf="isMobile && !opened" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span class="flex-grow"></span>
  
    <div class="search-container">
      <button mat-icon-button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
      <input 
        type="text" 
        placeholder="Search..." 
        class="search-input"
      />
    </div>
  
    <mat-slide-toggle
      [checked]="isDarkTheme"
      (change)="toggleTheme($event)" 
      [color]="isDarkTheme ? 'accent' : 'primary'"
      aria-label="Toggle theme"
    >
      <span>
        <mat-icon *ngIf="!isDarkTheme">wb_sunny</mat-icon>
        <mat-icon *ngIf="isDarkTheme">nightlight_round</mat-icon>
      </span>
    </mat-slide-toggle>
  
    <button mat-icon-button color="primary">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>message</mat-icon>
      </button>
      
    <button mat-icon-button>
      <img src="./../../assets/logo.svg" alt="Account" class="account-icon" />
    </button>
  </mat-toolbar>
  