<main>
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-title-md2 font-bold text-black dark:text-white">Buttons Group</h2>
    <nav>
      <ol class="flex items-center gap-2">
        <li><a class="font-medium" href="index.html">Dashboard /</a></li>
        <li class="font-medium text-primary">Buttons Group</li>
      </ol>
    </nav>
  </div>
  <div class="flex flex-col gap-7.5">
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">Buttons Group</h3>
      </div>

      <div class="p-4 sm:p-5 xl:p-7.5">
        <div class="flex flex-col gap-6">
          <div class="flex items-center btn-group">
            <button mat-button class="btn-primary rectangle">About</button>
            <button mat-button class="btn-primary bordered rectangle">Support</button>
            <button mat-button class="btn-primary bordered rectangle">Services</button>
          </div>
          
          <div class="flex items-center rounded-lg btn-group">
            <button mat-button class="btn-primary rounded">About</button>
            <button mat-button class="btn-primary bordered rounded">Support</button>
            <button mat-button class="btn-primary bordered rounded">Services</button>
          </div>
          
          <div class="flex items-center rounded-full btn-group">
            <button mat-button class="btn-primary fully-rounded">About</button>
            <button mat-button class="btn-primary bordered fully-rounded">Support</button>
            <button mat-button class="btn-primary bordered fully-rounded">Services</button>
          </div>
          
        </div>
      </div>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">Buttons Group With Icon</h3>
      </div>

      <div class="p-4 sm:p-5 xl:p-7.5">
        <div class="flex flex-col gap-6">
          <div class="flex flex-wrap items-center btn-group">
            <button mat-button class="btn-primary rectangle">
              <mat-icon>person</mat-icon>About
            </button>
            <button mat-button class="btn-primary bordered rectangle">
              <mat-icon>support</mat-icon>Support
            </button>
            <button mat-button class="btn-primary bordered rectangle">
              <mat-icon>shopping_cart</mat-icon>Services
            </button>
          </div>

          <div class="flex flex-wrap items-center rounded-lg btn-group">
            <button mat-button class="btn-primary rounded">
              <mat-icon>person</mat-icon>About
            </button>
            <button mat-button class="btn-primary bordered rounded">
              <mat-icon>support</mat-icon>Support
            </button>
            <button mat-button class="btn-primary bordered rounded">
              <mat-icon>shopping_cart</mat-icon>Services
            </button>
          </div>

          <div class="flex flex-wrap items-center rounded-full btn-group">
            <button mat-button class="btn-primary fully-rounded">
              <mat-icon>person</mat-icon>About
            </button>
            <button mat-button class="btn-primary bordered fully-rounded">
              <mat-icon>support</mat-icon>Support
            </button>
            <button mat-button class="btn-primary bordered fully-rounded">
              <mat-icon>shopping_cart</mat-icon>Services
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> 