<main>
      <!-- Breadcrumb Start -->
      <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-bold text-black dark:text-white">
          Cards
        </h2>

        <nav>
          <ol class="flex items-center gap-2">
            <li>
              <a class="font-medium" href="index.html">Dashboard /</a>
            </li>
            <li class="font-medium text-primary">Cards</li>
          </ol>
        </nav>
      </div>
      <!-- Breadcrumb End -->

      <div class="grid grid-cols-1 gap-7.5 sm:grid-cols-2 xl:grid-cols-3">
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <mat-card-header class="flex items-center gap-3 px-6 py-5">
            <div mat-card-avatar class="h-10 w-10 rounded-full">
              <img src="./assets/images/user/user-11.png" alt="User">
            </div>
            <div>
              <mat-card-title class="font-medium text-black dark:text-white">
                Naimur Rahman
              </mat-card-title>
              <mat-card-subtitle class="text-xs font-medium">Content Writer</mat-card-subtitle>
            </div>
          </mat-card-header>
          <a href="#" class="block px-4">
            <img mat-card-image src="./assets/images/cards/cards-01.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <mat-card-header class="flex items-center gap-3 px-6 py-5">
            <div mat-card-avatar class="h-10 w-10 rounded-full">
              <img src="./assets/images/user/user-12.png" alt="User">
            </div>
            <div>
              <mat-card-title class="font-medium text-black dark:text-white">
                Musharof Chy
              </mat-card-title>
              <mat-card-subtitle class="text-xs font-medium">Web Developer</mat-card-subtitle>
            </div>
          </mat-card-header>
          <a href="#" class="block px-4">
            <img mat-card-image src="./assets/images/cards/cards-02.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <mat-card-header class="flex items-center gap-3 px-6 py-5">
            <div mat-card-avatar class="h-10 w-10 rounded-full">
              <img src="./assets/images/user/user-13.png" alt="User">
            </div>
            <div>
              <mat-card-title class="font-medium text-black dark:text-white">
                Shafiq Hammad
              </mat-card-title>
              <mat-card-subtitle class="text-xs font-medium">Front-end Developer</mat-card-subtitle>
            </div>
          </mat-card-header>
          <a href="#" class="block px-4">
            <img mat-card-image src="./assets/images/cards/cards-03.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      

      <h2 class="mb-7.5 mt-10 text-title-md2 font-bold text-black dark:text-white">
        Cards
      </h2>

      <div class="grid grid-cols-1 gap-7.5 sm:grid-cols-2 xl:grid-cols-3">
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <a href="#" class="block px-4 pt-4">
            <img mat-card-image src="./assets/images/cards/cards-04.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <a href="#" class="block px-4 pt-4">
            <img mat-card-image src="./assets/images/cards/cards-05.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <a href="#" class="block px-4 pt-4">
            <img mat-card-image src="./assets/images/cards/cards-06.png" alt="Cards">
          </a>
          <mat-card-content class="p-6">
            <h4 class="mb-3 text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      

      <h2 class="mb-7.5 mt-10 text-title-md2 font-bold text-black dark:text-white">
        Cards
      </h2>

      <div class="grid grid-cols-1 gap-7.5 sm:grid-cols-2 xl:grid-cols-3">
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="p-5 px-7.5 border-b border-stroke dark:border-strokedark">
            <h4 mat-card-title class="text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
          </div>
          <mat-card-content class="px-7.5 pb-9 pt-6">
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="p-5 px-7.5 border-b border-stroke dark:border-strokedark">
            <h4 mat-card-title class="text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
          </div>
          <mat-card-content class="px-7.5 pb-9 pt-6">
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="p-5 px-7.5 border-b border-stroke dark:border-strokedark">
            <h4 mat-card-title class="text-xl font-semibold text-black dark:text-white">
              <a href="#">Card Title here</a>
            </h4>
          </div>
          <mat-card-content class="px-7.5 pb-9 pt-6">
            <p class="font-medium">
              Lorem ipsum dolor sit amet, vehiculaum ero felis loreum
              fitiona fringilla goes scelerisque Interdum et.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      
  </main>