<div class="flex h-screen overflow-hidden">
  <app-sidebar [opened]="sidebarOpened" [isMobile]="isMobile" [isDarkTheme]="isDarkTheme" (close)="closeSidebar()"></app-sidebar>

  <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden" [ngClass]="isDarkTheme ? 'myapp-dark-theme' : 'myapp-light-theme'">
    <app-header 
      (themeToggle)="toggleTheme($event)" 
      [isMobile]="isMobile" 
      [opened]="sidebarOpened" 
      [isDarkTheme]="isDarkTheme"
      (sidebarToggle)="toggleSidebar()">
    </app-header>

    <div class="content flex-grow p-10 body-content">
      <app-dashboard [isDarkTheme]="isDarkTheme"></app-dashboard>
    </div>
  </div>
</div>
