<div class="flex h-screen" [ngClass]="isDarkTheme ? 'myapp-dark-theme' : 'myapp-light-theme'">
  <app-sidebar [opened]="sidebarOpened"></app-sidebar> <!-- Show sidebar -->

  <div class="main-content flex flex-col flex-grow">
    <app-header 
      (themeToggle)="toggleTheme($event)" 
      [isMobile]="isMobile" 
      [opened]="sidebarOpened" 
      (sidebarToggle)="toggleSidebar()">
    </app-header>

    <div class="content flex-grow p-4">
      <app-dashboard [isDarkTheme]="isDarkTheme"></app-dashboard> <!-- Pass the theme state -->
    </div>
  </div>
</div>
