  <mat-sidenav mode="side" [opened]="opened" style="width: 290px" class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-auto bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0 -translate-x-full no-scrollbar">
    <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
      <a href="index.html">
        <img src="./assets/svgs/logo.svg" alt="logo">
      </a>

      <button mat-icon-button (click)="closeSidebar()" *ngIf="isMobile && opened">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
      <nav class="mt-5 px-4 py-4 lg:mt-9 lg:px-6">
        <div>
          <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>
          <ul class="mb-6 flex flex-col gap-1.5">
            <li>
              <button mat-button (click)="toggleMenu('Dashboard')"
                [ngClass]="{ 'active': selected === 'Dashboard', 'bg-[#333b48]': selected === 'Dashboard' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
              <mat-icon> dashboard </mat-icon>
                 Dashboard 
                 
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Dashboard'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('eCommerce')"   [ngClass]="{ 'active': subMenuSelected === 'eCommerce', 'text-white': subMenuSelected === 'eCommerce' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white"
                      href="#">eCommerce</button>
                  </li>
                  <li> <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Analytics')"   [ngClass]="{ 'active': subMenuSelected === 'Analytics', 'text-white': subMenuSelected === 'Analytics' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Analytics
                     </button>
                  </li>
                  <li>   <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Marketing')"   [ngClass]="{ 'active': subMenuSelected === 'Marketing', 'text-white': subMenuSelected === 'Marketing' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Marketing
                   </button>
                  </li>
                  <li>  <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('CRM')"   [ngClass]="{ 'active': subMenuSelected === 'CRM', 'text-white': subMenuSelected === 'CRM' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">CRM
                    </button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Stocks')"   [ngClass]="{ 'active': subMenuSelected === 'Stocks', 'text-white': subMenuSelected === 'Stocks' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Stocks</button>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Calendar')"
                [ngClass]="{ 'bg-[#333b48]': selected === 'Calendar' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <div class="flex items-center">
                  <mat-icon class="text-[20px]">calendar_today</mat-icon>
                  <span class="ml-1">Calendar</span>
                </div>
              </button>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Profile')" [ngClass]="{ 'bg-[#333b48]': selected === 'Profile' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <div class="flex items-center">
                  <mat-icon class="text-[20px]">person</mat-icon>
                  <span class="ml-1">Profile</span>
                </div>
              </button>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Task')"
                [ngClass]="{ 'active': selected === 'Task', 'bg-[#333b48]': selected === 'Task' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">task</mat-icon>
                Task
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Task' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Task'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li> <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('List')"   [ngClass]="{ 'active': subMenuSelected === 'List', 'text-white': subMenuSelected === 'List' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">List
                     </button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Kanban')"   [ngClass]="{ 'active': subMenuSelected === 'Kanban', 'text-white': subMenuSelected === 'Kanban' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Kanban</button>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Forms')"
                [ngClass]="{ 'active': selected === 'Forms', 'bg-[#333b48]': selected === 'Forms' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">assignment</mat-icon>
                Forms
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Forms' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Forms'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('FormElements')"   [ngClass]="{ 'active': subMenuSelected === 'FormElements', 'text-white': subMenuSelected === 'FormElements' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Form
                      Elements</button></li>
                  <li><span
                    class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('ProFormElements')"   [ngClass]="{ 'active': subMenuSelected === 'ProFormElements', 'text-white': subMenuSelected === 'ProFormElements' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Pro
                      Form Elements</button>
                  <li><button (click)="toggleSubMenu('FormLayout')"   [ngClass]="{ 'active': subMenuSelected === 'FormLayout', 'text-white': subMenuSelected === 'FormLayout' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Form
                      Layout</button></li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('ProFormLayout')"   [ngClass]="{ 'active': subMenuSelected === 'ProFormLayout', 'text-white': subMenuSelected === 'ProFormLayout' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Pro
                      Form Layout</button>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Tables')"
                [ngClass]="{ 'active': selected === 'Tables', 'bg-[#333b48]': selected === 'Tables' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">table_chart</mat-icon>
                Tables
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Tables' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Tables'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('Tables')"   [ngClass]="{ 'active': subMenuSelected === 'Tables', 'text-white': subMenuSelected === 'Tables' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Tables</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('ProTables')"   [ngClass]="{ 'active': subMenuSelected === 'ProTables', 'text-white': subMenuSelected === 'ProTables' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Pro
                      Tables</button>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Pages')"
                [ngClass]="{ 'active': selected === 'Pages', 'bg-[#333b48]': selected === 'Pages' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">pages</mat-icon>
                Pages
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Pages' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Pages'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('Settings')"   [ngClass]="{ 'active': subMenuSelected === 'Settings', 'text-white': subMenuSelected === 'Settings' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Settings</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('File')"   [ngClass]="{ 'active': subMenuSelected === 'File', 'text-white': subMenuSelected === 'File' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">File
                      Manager </button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Data')"   [ngClass]="{ 'active': subMenuSelected === 'Data', 'text-white': subMenuSelected === 'Data' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Data
                      Tables </button>
                  </li>
                  <li> <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Pricing')"   [ngClass]="{ 'active': subMenuSelected === 'Pricing', 'text-white': subMenuSelected === 'Pricing' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Pricing
                      Tables</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Error')"   [ngClass]="{ 'active': subMenuSelected === 'Error', 'text-white': subMenuSelected === 'Error' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Error
                      Page</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Faq')"   [ngClass]="{ 'active': subMenuSelected === 'Faq', 'text-white': subMenuSelected === 'Faq' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Faq's</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Teams')"   [ngClass]="{ 'active': subMenuSelected === 'Teams', 'text-white': subMenuSelected === 'Teams' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Teams</button>
                  </li>
                  <li> <span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Terms')"   [ngClass]="{ 'active': subMenuSelected === 'Terms', 'text-white': subMenuSelected === 'Terms' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Terms
                      & Conditions</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('Mail')"   [ngClass]="{ 'active': subMenuSelected === 'Mail', 'text-white': subMenuSelected === 'Mail' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Mail
                      Success </button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">SUPPORT</h3>
          <ul class="mb-6 flex flex-col gap-1.5">
            <li>
              <button mat-button (click)="toggleMenu('Messages')"
                [ngClass]="{ 'bg-[#333b48]': selected === 'Messages' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <div class="flex items-center">
                  <mat-icon class="text-[20px]">message</mat-icon>
                  Messages<span
                    class="absolute right-14 top-1/2 -translate-y-1/2 rounded bg-primary px-2.5 py-1 text-xs font-medium text-white">5</span>
                  <span
                    class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span>
                </div>
              </button>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Inbox')" [ngClass]="{ 'bg-[#333b48]': selected === 'Inbox' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <div class="flex items-center">
                  <mat-icon class="text-[20px]">inbox</mat-icon>
                  Inbox<span
                    class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span>
                </div>
              </button>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Invoice')" [ngClass]="{ 'bg-[#333b48]': selected === 'Invoice' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <div class="flex items-center">
                  <mat-icon class="text-[20px]">receipt</mat-icon>
                  Invoice<span
                    class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span>
                </div>
              </button>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">OTHERS</h3>
          <ul class="mb-6 flex flex-col gap-1.5">
            <li>
              <button mat-button (click)="toggleMenu('Charts')" [ngClass]="{ 'bg-[#333b48]': selected === 'Charts' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">show_chart</mat-icon>
                Charts
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Charts' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Charts'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('BasicChart')"   [ngClass]="{ 'active': subMenuSelected === 'BasicChart', 'text-white': subMenuSelected === 'BasicChart' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Basic
                      Chart</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('AdvancedChart')"   [ngClass]="{ 'active': subMenuSelected === 'AdvancedChart', 'text-white': subMenuSelected === 'AdvancedChart' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Advanced
                      Chart</button>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('UI Elements')"
                [ngClass]="{ 'bg-[#333b48]': selected === 'UI Elements' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">widgets</mat-icon>
                UI Elements
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'UI Elements' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'UI Elements'">
                <ul class="mb-3 mt-4 flex flex-col gap-2 pl-6">
                  <li> <span class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="accordion()" [ngClass]="{ 'active': subMenuSelected === 'accordion', 'text-white': subMenuSelected === 'accordion' }"
                    class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white ">
                   
                    Accordion 
                  
                     </button> 


                  </li>
                  <li><button (click)="alerts()"   [ngClass]="{ 'active': subMenuSelected === 'alerts', 'text-white': subMenuSelected === 'alerts' }"
                    class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">
                      Alerts</button>

                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="avatars()" [ngClass]="{ 'active': subMenuSelected === 'avatars', 'text-white': subMenuSelected === 'avatars' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">
                      Avatars</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="badge()" [ngClass]="{ 'active': subMenuSelected === 'pricing', 'text-white': subMenuSelected === 'pricing' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">
                      Badge </button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="breadcump()" [ngClass]="{ 'active': subMenuSelected === 'breadcrumb', 'text-white': subMenuSelected === 'breadcrumb' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">
                      Breadcump</button>
                  </li>
                  <li><button  (click)="buttons()" [ngClass]="{ 'active': subMenuSelected === 'buttons', 'text-white': subMenuSelected === 'buttons' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Buttons</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="groupButtons()" [ngClass]="{ 'active': subMenuSelected === 'buttons-group', 'text-white': subMenuSelected === 'buttons-group' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Buttons
                      Group</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="cards()" [ngClass]="{ 'active': subMenuSelected === 'cards', 'text-white': subMenuSelected === 'cards' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Cards</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="carousel()" [ngClass]="{ 'active': subMenuSelected === 'carousel', 'text-white': subMenuSelected === 'carousel' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Crousel</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="dropdowns()" [ngClass]="{ 'active': subMenuSelected === 'dropdowns', 'text-white': subMenuSelected === 'dropdowns' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">DropDowns</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="images()" [ngClass]="{ 'active': subMenuSelected === 'images', 'text-white': subMenuSelected === 'images' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Images</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="list()" [ngClass]="{ 'active': subMenuSelected === 'list', 'text-white': subMenuSelected === 'list' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">List</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="modals()" [ngClass]="{ 'active': subMenuSelected === 'modals', 'text-white': subMenuSelected === 'modals' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Modals</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="notifications()" [ngClass]="{ 'active': subMenuSelected === 'notifications', 'text-white': subMenuSelected === 'notifications' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Notifications</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="pagination()" [ngClass]="{ 'active': subMenuSelected === 'pagination', 'text-white': subMenuSelected === 'pagination' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Pagination</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="popovers()" [ngClass]="{ 'active': subMenuSelected === 'popovers', 'text-white': subMenuSelected === 'popovers' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Popovers</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="progress()" [ngClass]="{ 'active': subMenuSelected === 'progress', 'text-white': subMenuSelected === 'progress' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Progress</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="spinners()" [ngClass]="{ 'active': subMenuSelected === 'spinners', 'text-white': subMenuSelected === 'spinners' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Spinners</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="tabs()" [ngClass]="{ 'active': subMenuSelected === 'tabs', 'text-white': subMenuSelected === 'tabs' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Tabs</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="tooltips()" [ngClass]="{ 'active': subMenuSelected === 'tooltips', 'text-white': subMenuSelected === 'tooltips' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Tooltips</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="videos()" [ngClass]="{ 'active': subMenuSelected === 'videos', 'text-white': subMenuSelected === 'videos' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Videos</button>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button mat-button (click)="toggleMenu('Authentication')"
                [ngClass]="{ 'bg-[#333b48]': selected === 'Authentication' }"
                class="group relative flex items-center gap-2.5 w-[242px] h-[40px] rounded-sm px-4 py-2 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                <mat-icon class="text-[20px]">lock</mat-icon>
                Authentication
                <mat-icon class="absolute right-4 top-1/2 -translate-y-1/2 fill-current rotate-180"
                  [ngClass]="{ 'rotate-180': selected === 'Authentication' }">expand_more</mat-icon>
              </button>
              <div class="translate transform overflow-hidden block" *ngIf="selected === 'Authentication'">
                <ul class="mb-5 mt-4 flex flex-col gap-2.5 pl-6">
                  <li><button (click)="toggleSubMenu('SignIn')"   [ngClass]="{ 'active': subMenuSelected === 'SignIn', 'text-white': subMenuSelected === 'SignIn' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Sign
                      In</button>
                  </li>
                  <li><button (click)="toggleSubMenu('SignUp')"   [ngClass]="{ 'active': subMenuSelected === 'SignUp', 'text-white': subMenuSelected === 'SignUp' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Sign
                      Up</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('ResetPassword')"   [ngClass]="{ 'active': subMenuSelected === 'ResetPassword', 'text-white': subMenuSelected === 'ResetPassword' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Reset
                      Password</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('ComingSoon')"   [ngClass]="{ 'active': subMenuSelected === 'ComingSoon', 'text-white': subMenuSelected === 'ComingSoon' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Coming
                      Soon </button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('TwoStepVerification')"   [ngClass]="{ 'active': subMenuSelected === 'TwoStepVerification', 'text-white': subMenuSelected === 'TwoStepVerification' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">2
                      Step Verification</button>
                  </li>
                  <li><span
                        class="absolute right-4 block rounded bg-primary px-2 py-1 text-xs font-medium text-white">Pro</span><button (click)="toggleSubMenu('UnderMaintenance')"   [ngClass]="{ 'active': subMenuSelected === 'UnderMaintenance', 'text-white': subMenuSelected === 'UnderMaintenance' }"
                      class="group relative flex items-center gap-2.5 rounded-md px-4 font-medium text-bodydark2 duration-300 ease-in-out hover:text-white">Under
                      Maintenance</button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

      </nav>

    </div>
  </mat-sidenav>
