<main>
  <!-- Breadcrumb Start -->
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-title-md2 font-bold text-black dark:text-white">
      Badge
    </h2>

    <nav>
      <ol class="flex items-center gap-2">
        <li>
          <a class="font-medium" href="index.html">Dashboard /</a>
        </li>
        <li class="font-medium text-primary">Badge</li>
      </ol>
    </nav>
  </div>
  <!-- Breadcrumb End -->

  <div class="flex flex-col gap-7.5">
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">
          Badge Style 1
        </h3>
      </div>

      <div class="p-4 sm:p-6 xl:p-10">
        <div class="flex flex-wrap items-center gap-2 sm:gap-4.5 btn-badge">
          <button mat-button class="btn-primary rounded">Primary</button>
          <button mat-button class="btn-secondary rounded">Secondary</button>
          <button mat-button class="btn-tertiary rounded">Dark</button>
          <button mat-button class="btn-gray rounded">Gray</button>
          <button mat-button class="btn-light rounded">Light</button>
          <button mat-button class="btn-warning rounded">Warning</button>
          <button mat-button class="btn-danger rounded">Danger</button>
          <button mat-button class="btn-success rounded">Success</button>
          <button mat-button class="btn-info rounded">Info</button>
        </div>
      </div>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">
          Badge Style 2
        </h3>
      </div>

      <div class="p-4 sm:p-6 xl:p-10">
        <div class="flex flex-wrap items-center gap-2 sm:gap-4.5 btn-badge">
          <button mat-button class="btn-primary bordered rounded">Primary</button>
          <button mat-button class="btn-secondary bordered rounded">Secondary</button>
          <button mat-button class="btn-tertiary bordered rounded">Dark</button>
          <button mat-button class="btn-gray bordered rounded">Gray</button>
          <button mat-button class="btn-light bordered rounded">Light</button>
          <button mat-button class="btn-warning bordered rounded">Warning</button>
          <button mat-button class="btn-danger bordered rounded">Danger</button>
          <button mat-button class="btn-success bordered rounded">Success</button>
          <button mat-button class="btn-info bordered rounded">Info</button>
        </div>
      </div>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">
          Badge Style 3
        </h3>
      </div>

      <div class="p-4 sm:p-6 xl:p-10">
        <div class="flex flex-wrap items-center gap-2 sm:gap-4.5 btn-badge">
          <button mat-button class="btn-primary fully-rounded">Primary</button>
          <button mat-button class="btn-secondary fully-rounded">Secondary</button>
          <button mat-button class="btn-tertiary fully-rounded">Dark</button>
          <button mat-button class="btn-gray fully-rounded">Gray</button>
          <button mat-button class="btn-light fully-rounded">Light</button>
          <button mat-button class="btn-warning fully-rounded">Warning</button>
          <button mat-button class="btn-danger fully-rounded">Danger</button>
          <button mat-button class="btn-success fully-rounded">Success</button>
          <button mat-button class="btn-info fully-rounded">Info</button>
        </div>
      </div>
    </div>

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <div class="border-b border-stroke px-4 py-4 dark:border-strokedark sm:px-6 xl:px-7.5">
        <h3 class="font-medium text-black dark:text-white">
          Badge Style 4
        </h3>
      </div>

      <div class="p-4 sm:p-6 xl:p-10">
        <div class="flex flex-wrap items-center gap-2 sm:gap-4.5 btn-badge">
          <button mat-button class="btn-primary bordered fully-rounded">Primary</button>
          <button mat-button class="btn-secondary bordered fully-rounded">Secondary</button>
          <button mat-button class="btn-tertiary bordered fully-rounded">Dark</button>
          <button mat-button class="btn-gray bordered fully-rounded">Gray</button>
          <button mat-button class="btn-light bordered fully-rounded">Light</button>
          <button mat-button class="btn-warning bordered fully-rounded">Warning</button>
          <button mat-button class="btn-danger bordered fully-rounded">Danger</button>
          <button mat-button class="btn-success bordered fully-rounded">Success</button>
          <button mat-button class="btn-info bordered fully-rounded">Info</button>
        </div>
      </div>
    </div>
  </div>
</main>