@use '@angular/material' as mat;

// Import Tailwind CSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Define light theme colors
$myapp-light-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$myapp-light-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$myapp-light-warn: mat.m2-define-palette(mat.$m2-red-palette);
$sidebar-dark-bg: #243040; // Dark theme background
$sidebar-light-bg: #1c2333; // Light theme background
// Define the light theme
$myapp-light-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-light-primary,
    accent: $myapp-light-accent,
    warn: $myapp-light-warn,
  ),
));

// Define dark theme colors
$myapp-dark-primary: mat.m2-define-palette(mat.$m2-blue-palette); // Change to blue palette
$myapp-dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);

// Define the dark theme
$myapp-dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $myapp-dark-primary,
    accent: $myapp-dark-accent,
  ),
));


// Apply core theme styles once
@include mat.core-theme($myapp-light-theme);
@include mat.core-theme($myapp-dark-theme);


// Set the height of the toolbar
mat-toolbar {
  height: 80px !important;
  background-color: mat.m2-get-color-from-palette($myapp-light-primary);
}

// Remove padding from mat-toolbar
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.myapp-light-theme mat-sidenav,
.myapp-dark-theme mat-sidenav {
  border-radius: 0 !important; // Remove rounded corners
}



.myapp-light-theme .dashboard-content
 {
  background-color: #ffffff; // Light background
  color: black; // Light text color
}

.myapp-light-theme mat-sidenav{
  background-color: #1c2333; // Dark background
  color: #DEEFEE; // Dark text color
}

.myapp-dark-theme mat-sidenav {
  background-color: #243040; // Dark background
  color: #DEEFEE; // Dark text color
}

.myapp-dark-theme .dashboard-content,
.myapp-dark-theme .app-header {
  background-color: #243040; // Dark background
  color: white; // Dark text color
}

.myapp-light-theme .body-content {
  background-color: #f1f4f9; // Dark background
  color: black; // Dark text color
}

.myapp-dark-theme .body-content {
  background-color: #1a232c; // Dark background
  color: white; // Dark text color
}

// Smooth transition for theme changes
.dashboard-content,
.app-header,
.body-content
mat-side {
  transition: background-color 0.01s ease, color 0.01s ease;
}

// Custom styles for theme toggle
.theme-toggle {
  .mat-slide-toggle-thumb {
    background-color: mat.m2-get-color-from-palette($myapp-light-primary, 500);
  }

  &.mat-checked .mat-slide-toggle-thumb {
    background-color: mat.m2-get-color-from-palette($myapp-dark-primary, 500);
  }
}

// Custom utility class for bottom shadow
.shadow-bottom {
  box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity));
}

.bg-stroke {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}