@use '@angular/material' as mat;

// Define light theme
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-blue-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  ),
  typography: (
    font-family: 'Comic Sans',
    font-weight: 900,
  ),
  density: (
    scale: -1,
  ),
));

// Define dark theme
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-violet-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette),
    warn: mat.m2-define-palette(mat.$m2-red-palette),
  ),
  typography: (
    font-family: 'Comic Sans',
    font-weight: 900,
  ),
  density: (
    scale: -1,
  ),
));

// Apply themes to buttons with specific background colors
.mat-button-light {
  @include mat.all-component-themes($light-theme);
  background-color: #f0f0f0; // Light theme button background color
  color: #000; // Light theme button text color
}

.mat-button-dark {
  @include mat.all-component-themes($dark-theme);
  background-color: #333; // Dark theme button background color
  color: #fff; // Dark theme button text color
}